*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
	margin: 0;
}
h2, h3, h4, h5{
	margin: 0;
	padding: 10px;
	text-align: center;	
}

.header{
	background-color: #3F3250;
	color: white;
	width: 100%;
}
.btn-home{
	background-color: #E14658;
	border-color: #E14658;
	margin-bottom: 40px;
	margin-top: 10px;
}
.btn-home:hover {
	background-color: #dc293e;
	border-color: #dc293e;
}
.home{
	box-shadow: 1px 1px 2px 3px #ccc;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.entity{
	margin-top: 20px;
}
p{
	/*padding-bottom: 70px;
	padding-top: 10px;
	font-size: 18px;*/
	text-align: center;
}
#admin-icon{
	width: 128px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}