<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Event</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="header">
		<h4>Events App</h4>
	</div>
	<div class="col-md-6 home">
		<fieldset>
			<form method="POST">
				<div class="form-row col-md-12">
					<h3 class="heading">Create Event</h3>
				</div>
				<div class="form-row form-group col-md-12">
						<label for="eventAgenda">Event Agenda</label>
						<input type="text" name="eventAgenda" id="eventAgenda" class="form-control" placeholder="title" required>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="startTime">Start Time</label>
						<input type="time" name="startTime" id="startTime" class="form-control" required>
					</div>
					<div class="form-group col-md-4">
						<label for="eventDate">Date</label>
						<input type="date" name="eventDate" id="eventDate" class="form-control" required>
					</div>
					<div class="form-group col-md-4">
						<label for="eventDuration">Duration</label>
						<input type="number" name="eventDuration" id="eventDuration" class="form-control" placeholder="in hours" required>
					</div>
				</div>

				<div class="form-row form-group col-md-12">
					<label for="eventLocation">Location</label>
					<input type="text" id="eventLocation" name="eventLocation" class="form-control" required>
				</div>
				<div class="form-row form-group col-md-12">
					<label for="eventDescription">Description</label>
					<textarea rows="4" id="eventDescription" name="eventDescription" class="form-control"></textarea>
				</div>

				<div class="form-group form-row col-md-12">
					<button type="submit" class="btn btn-primary btn-sm btn-block btn-home">CREATE</button>
				</div>

			</form>
		</fieldset>
	</div>
</body>